/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles {
    conda {
        cpus = 2
        conda.enabled = true
        
        //publishDir = { "fastqc/$sample" }
    }
}