params.GUIDES_METADATA =  '/n/data1/bch/hemonc/bauer/lucassilva/yanhua_perturb/GUIDE_LIFTED_OVERHG38_YANHUA.xlsx' 
params.FASTQ_FILES_GUIDES = ['/n/data1/bch/hemonc/bauer/lucassilva/starsolo_module/data/test_R1_001.fastq', '/n/data1/bch/hemonc/bauer/lucassilva/starsolo_module/data/test_R2_001.fastq']
params.WHITELIST = '/n/data1/bch/hemonc/bauer/lucassilva/yanhua_perturb/3M-february-2018.txt'
