params.GUIDES_METADATA =  '/mnt/CRISPR-JAMBOREE/single-cell/counting-guides/nextflow_pipeline/example_data/data/GUIDE_LIFTED_OVERHG38_YANHUA.xlsx' 
params.FASTQ_FILES_GUIDES = ['/mnt/CRISPR-JAMBOREE/single-cell/counting-guides/nextflow_pipeline/example_data/data/test_R1_001.fastq', '/mnt/CRISPR-JAMBOREE/single-cell/counting-guides/nextflow_pipeline/example_data/data/test_R2_001.fastq']
params.WHITELIST = '/mnt/CRISPR-JAMBOREE/single-cell/counting-guides/nextflow_pipeline/example_data/data/3M-february-2018.txt'
