params.INPUT_FILE = "/Users/tc325/Documents/CRISPR-JAMBOREE/single-cell/guide-assignment/cleanser/nextflow/data/gasperini_guide_assignment_input_minimal.h5mu"
params.OUTPUT_FILE = "/Users/tc325/Documents/CRISPR-JAMBOREE/single-cell/guide-assignment/cleanser/nextflow/out.h5mu"
params.ASSIGNMENT_METHOD = "cleanser"
